
<div class="courses-panel">

    <h3>All Courses</h3>

    <mat-tab-group>

        <mat-tab label="Beginners">
            <!--
              " | async": subscribe to the observable and get the available values and also when the component
              get destroyed, the async pipe will also unsubscribe from the observable avoiding memory leaks!
            -->
          <ng-container *ngIf="(beginnerCourses$ | async) as beginnerCourses; else notLoaded">
            <ng-container *ngIf="beginnerCourses.length == 0; else hasData"> No Beginner Courses... </ng-container>
            <ng-template #hasData>
              <courses-card-list [courses]="beginnerCourses" (coursesChanged)="reloadCourses()"></courses-card-list>
            </ng-template>
          </ng-container>
          <ng-template #notLoaded> Loading... </ng-template>
        </mat-tab>

        <mat-tab label="Advanced">
          <courses-card-list [courses]="advancedCourses$ | async" (coursesChanged)="reloadCourses()"></courses-card-list>
        </mat-tab>

    </mat-tab-group>



</div>

